html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #090e16;
  color: #fff;
}

/* border geral */
.border {
  border-top: 1px solid #7b4ae2;
  margin-top: 5%;
}
/* link geral */
a {
  text-decoration: none;
}
/* margin-auto */

.vert {
  margin-top: auto;
  margin-bottom: auto;
}

.horz {
  margin-left: auto;
  margin-right: auto;
}

/* flex geral */
.flex {
  display: flex;
}

/* navbar */
nav {
  width: 85%;
  height: 50px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(123, 74, 226, 0.3);
  border-radius: 2em;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0 1em;
}
nav ul li {
  color: rgba(255, 255, 255, 0.1);
  margin: 0 0.4em;
}

nav ul li:hover {
  color: #7b4ae2;
}

.logo-container {
  width: 50px;
  height: 50px;
  margin: 0 1em;
  justify-content: center;
  align-items: center;
}
.logo-container img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.logo-container img:hover {
  width: 40px;
  height: 40px;
}

/* conteudo pricipal */

.content-home {
  justify-content: space-between;
}

/* conteudo principal destaque */
.my-avatar {
  background-color: rgba(123, 74, 226, 0.2);
  border-radius: 50%;
  margin-top: 1em;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(95, 4, 155, 0.5);
}

/* icones fundo */
.icons {
  position: relative;
  width: 60px;
  height: 60px;
}

.js {
  top: 0%;
  left: 50%;
}

.react {
  top: -30%;
  left: 15%;
}

.bootstrap {
  top: -30%;
  left: -50%;
}

.html {
  top: 10%;
  left: -25%;
}

.css {
  top: -10%;
  left: -37%;
}

/* foto */

.profile {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 25%;
}

/* saudações e git */

.greetings-info {
  margin-left: 8%;
}

.greetings-content {
  width: 125px;
  height: 35px;
  background-color: #14142b;
  border-radius: 1em;
  text-align: center;
}

.greetings {
  margin: auto;
  color: #7b4ae2;
  font-weight: bold;
}

.my-name {
  height: 90px;
}

.my-name p {
  margin: 0;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 48px;
}

.my-description {
  margin-top: 2em;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

.icons-greetings {
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

/* etapa do cv */
.cv-contact {
  text-align: right;
  margin-right: 8%;
}

.cv-contact p {
  color: rgba(123, 74, 226, 0.3);
  font-size: 15px;
}

.icon {
  width: 15px;
  height: 15px;
}

.whatsapp-contact {
  justify-content: center;
  width: 160px;
  border-radius: 1em;
  border: 1px solid #7b4ae2;
}

.my-wpp {
  color: rgba(123, 74, 226, 0.3);
}

.about-section {
  justify-content: space-between;
  margin-top: 1em;
  max-width: 60%;
}

/* exp. */

.container-about {
  margin: 0;
  width: 180px;
  height: 160px;
  border-radius: 1rem;
  border: 1px solid rgba(123, 74, 226, 0.2);
  text-align: center;
  justify-content: center;
  padding: 0.5em;
  margin-top: 5%;
  cursor: pointer;
}

.container-about:hover {
  background-color: rgba(123, 74, 226, 0.2);
}

.section-about {
  font-size: 12px;
  margin-top: 1em;
  border-radius: 1em;
  background-color: rgba(123, 74, 226, 0.2);
  border: 1px solid rgba(123, 74, 226, 0.2);
  max-width: 60%;
  height: 70px;
  justify-content: space-between;
}

.section-container {
  color: #7b4ae2;
  width: 180px;
  text-align: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 0;
  margin: 0;
}

.title-exp {
  margin-top: 5%;
  font-size: 24px;
  font-weight: bold;
}

/* profile-section-pic */

.my-about-profile {
  margin-top: 5em;
}

.my-pic-profile {
  margin-left: 8%;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
}

.pic-profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 5%;
}

.my-informations {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-align: justify;
  margin-right: 8%;
  margin-left: 13%;
}

.my-informations h2 {
  color: #fff;
  font-size: 32px;
  margin: 0;
  line-height: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.about-me {
  font-size: 16px;
}
